<div class="page-container">
  <div class="breadcrumbs">
    <ol><%= render_breadcrumbs :tag=> :li, :separator =>" > " %></ol>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header"><h1>All Answers</h1></div>
        <ul id="answers">
          <% @questions.map do |q| %>
            <li class="category-listing"><%= link_to q.text, answer_path(q) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span3">
      
    </div><!-- /span3 -->
  </div>
</div> 