<% set_meta_tags  description: "Search results for #{query}.",
                  canonical: official_government_long_url + request.fullpath,
                  title: "Search results for #{query}." %>

<div class="page-container search">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1>Search results for: "<strong><%= query %></strong>"</h1>
          <br/>

          <% if results.empty? %>
            <p>Sorry, no results found for "<%= query %>".  Please try rephrasing your search terms.</p>
          <% else %>
            <ul>
              <% results.each do |article| %>
                  <li class="article-listing">
					<%= display_article(article) %>
                  </li>
              <% end %>
            </ul>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="span3">

    </div><!-- /span3 -->
  </div>
</div>

