{
  "id": "vagrant",
  "uid": "2601",
  "comment": "Vagrant User",
  "groups": [
    "admin",
    "rvm"
  ],
  "shell": "/bin/bash",
  "ssh_keys": [
    "ssh-rsa AAAA_your_key_here== vagrant@supercomputer.local",
    "ssh-rsa AAAA_your_key_here== vagrant@laptop.local",
  ]
}
