<%#= stylesheet_link_tag  'answers-home', media: 'all' %>

<div class="page-container">
	<div class="help-home-top-section">
		<div class="search-container left-margin right-margin">
            <h1 class="help-header-title">Your Questions. Our Trusted Answers.</h1>
            <div class="search-div">
                <form role="form" id="search" action="search" name="search" method="get" autocomplete="off">
                    <div>
                        <input type="text" name="q" id="query" class="help-search form-control help-search-icon" title="query" autofocus="autofocus" placeholder="Ask USCIS your question">
<<<<<<< HEAD
=======

>>>>>>> 35ef6f22f49e92771f5cecc229871402588e318d
                        <input type="submit" name="submit" class="sr-only" value="SEARCH" />
                    </div>
                </form>
            </div>

            <div class="auto-complete-container col-lg-8 col-lg-offset-2" style="display: none;">
                <ul class="list-group" id="auto-complete-list">
                </ul>
            </div>
		</div>
	</div>
<!--  -->
  <div class="popular">
      <div class="pop-heading">
        <h2>Most Popular Tags:</h2>
      </div>
      <div class="pop-categories" id="tags">
        <% tags_with_questions.each do |tag| %>
          <div class="category">
            <span class="left"><%= link_to(tag[:tag].name.capitalize, tag_path(tag[:tag])) %></span>
            <p class="right">
            <ul>
              <% tag[:questions].each do |question| %>
                <p><%= link_to(question.text, answer_path(question)) %></p>
              <% end %>
            </ul>
            </p>
          </div>
        <% end %>
      </div>
    </div><!-- /popular -->
<!--  -->
	<div class="popular-questions pure-g">
      <div class="pure-u-1">
            <a class="ben-link" href="#explore-intro">Not sure what benefits</a><img src="<%=image_url('torch.png')%>" width="46" height="66" class="torch"/>  <a class="ben-link" href="#explore-intro">you may qualify for?</a>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="popular-question-inner cit-pop">
            <h2>Citizenship</h2>
            <p>How do I prepare for my naturalization interview?</p>
            <h5>MORE CITIZENSHIP QUESTIONS</h5>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="popular-question-inner res-pop">
            <h2>Permanent Residence</h2>
            <p>With DOMA struck down, how quickly can I apply for a Green Card for my same-sex spouse ?</p>
            <h5>MORE PERMANENT RESIDENCE QUESTIONS</h5>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <div class="popular-question-inner nonim-pop">
            <h2>Nonimmigrant</h2>
            <p>How do I extend or change my nonimmigrant status?</p>
            <h5>MORE NONIMMIGRANT QUESTIONS</h5>
        </div>
      </div>
	</div>
</div>