<section id='records'>
  <%%= render 'records' %>
</section>
<aside id='actions'>
  <%%= render 'actions' %>
</aside>
<%%= render '/answers/admin/make_sortable', options: {tree: false} if !searching? and ::Answers::<%= namespacing %>::Admin::<%= class_name.pluralize %>Controller.sortable? and ::Answers::<%= namespacing %>::<%= class_name %>.many? %>
