{
	"run_list":[ "role[bare_bones]", "role[app_server]", "role[answers]", "role[postgre]" ],
	"authorization": {
	    "sudo": {
	      "groups": ["adm"],
	      "users": ["jgrevich", "vagrant"],
	      "passwordless": true
	    }
	},
  "elasticsearch": {
    "cluster" : {
      "name" : "elasticsearch_test_chef"
    }
  },
	"java": {
    "install_flavor": "openjdk",
    "jdk_version": "7"
  },
	"ntp": {
		"apparmor_enabled": false
	},
	"postgresql": {
		"password": {
			"postgres": ""
		},
		"version": "9.3"
	},
	"rvm": {
		"ruby": {
			"default": true,
			"version": "2.1.2"
		}
  },
	"set_fqdn": "hostname.fqdn.tld"
}
