{
	"run_list":[ "role[bare_bones]", "role[postgre]", "role[answers]", "role[app_server]" ],
	"authorization": {
	    "sudo": {
	      "groups": ["adm"],
	      "users": ["vagrant"],
	      "passwordless": true
	    }
	},
  "build-essential": {
  	"compile_time": false
  },
  "elasticsearch": {
    "cluster": {
      "name": "answers"
    },
    "custom_config": {
    	"script.disable_dynamic": true
    },
    "deb_sha": "0b136cbbe5cc835ecfb1223e50758fa4f49937c1",
    "deb_url": "https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.3.0.deb",
    "version": "1.3.0"
  },
	"java": {
    "install_flavor": "openjdk",
    "jdk_version": "7"
  },
	"ntp": {
		"apparmor_enabled": false
	},
	"postgresql": {
		 "databases": [
		    {
		      "name": "answers_dev",
		      "owner": "answers",
		      "encoding": "UTF-8",
		      "locale": "en_US.UTF-8"
		    }
		],
		"password": {
			"postgres": ""
		},
		"users": [
			{
				"username": "vagrant",
				"password": "vagrant",
				"superuser": true,
				"createdb": true,
				"login": true
			},
			{
				"username": "answers",
				"password": "answers",
				"superuser": true,
				"createdb": true,
				"login": true
			}
		],
		"version": "9.3"
	},
	"rbenv": {
		"group_users": ["vagrant"]
	},
	"set_fqdn": "vagrant.localhost"
}
