{
	"run_list":[ "role[bare_bones]", "role[app_server]", "role[answers]", "role[postgre]" ],
	"authorization": {
	    "sudo": {
	      "groups": ["adm"],
	      "users": ["jgrevich", "vagrant"],
	      "passwordless": true
	    }
	},
  "elasticsearch": {
    "cluster": {
      "name": "answers"
    },
    "custom_config": {
    	"script.disable_dynamic": true
    },
    "deb_sha": "0b136cbbe5cc835ecfb1223e50758fa4f49937c1",
    "deb_url": "https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.3.0.deb",
    "version": "1.3.0"
  },
	"java": {
    "install_flavor": "openjdk",
    "jdk_version": "7"
  },
	"ntp": {
		"apparmor_enabled": false
	},
	"postgresql": {
		"password": {
			"postgres": ""
		},
		"version": "9.3"
	},
	"rvm": {
		"ruby": {
			"default": true,
			"version": "2.1.2"
		}
  },
	"set_fqdn": "vagrant.localhost"
}
