<% set_meta_tags description: @question.preview,
                 canonical: ENV['official_government_long_url'].to_s + request.fullpath
                 title: [@question.text] %>

<p id="notice"><%= notice %></p>

<div class="page-container article">
  <div class="breadcrumbs">
    <ol><%= render_breadcrumbs :tag=> :li, :separator =>" > " %></ol>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <%= content_tag(:h1, @question.text ) %>
        </div>
        <% @question.answers.each do |quest| %>
          <div class="content-text">
            <%= raw quest.text %>
          </div>
        <% end %>
      </div>
    </div><!-- /span9 -->
    
    <div class="span3">
      <%#= render :partial => 'shared/articles_sidebar' %>
    </div><!-- /span3 -->
    
  </div>
</div>