      <div class="sidebar">
          <div class="sidebar-unit">
            <h4 class="side-head">NEED MORE INFO?</h4>
            <div class="sidebar-content">
              <% @question.tags.each do |tag| %>
                <%= tag %><br/>
              <% end %>
            </div>
          </div>
      </div>

