$headline-color: #1a2f89;
$text-color: #676767;

/*theme colors */
$citizen-color: #1b3089;
$residence-color: #1ba5bd;
$nonimmigrant-color: #e44949;


@import 'mixins';


body {
	font-family: Georgia;
	font-size: 14px;
	background-image: url('/assets/bg-pattern.png');
}

body a {
	border: 0;
	color: #34a9bc;
}
small {
	color: #9f9f9f;
	font-size: 11px;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('/assets/ProximaNova-Semibold.otf');
  /*src: local('ProximaNovaSemibold'),
    url("ProximaNova-Semibold.otf") format("opentype");*/

}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('/assets/ProximaNova-Light.otf');
  /*src: local('ProximaNovaSemibold'),
    url("ProximaNova-Semibold.otf") format("opentype");*/

}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('/assets/ProximaNova-Regular.otf');
}

.pure-g [class *="pure-u"] {
	font-family: Georgia;
}

#page-content-container {
	vertical-align: top;
}

.page-container {
//  background-image: url('/assets/helpcenter-sec-1-bg.jpg');
  background-position: top;
  background-size: cover;
}

.outline {
	border: 1px solid #000000;
}

.logo-col {
	text-align: center;
}

.logo-col img {
	margin-top: -1.9em;
	border: none;
	outline: none;

}

 
.left-margin {
	padding-left: 9%;
}

.right-margin {
	padding-right: 9%;
}

.pure-g  div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.official-row {
	background-color: rgb(248,248,248);
	height: 1.5em;
    padding-top: .4em;
}

.flag-div {
	float:left;
}

.language-div {
	float:right;
}

.top-nav-container {
	height: 80px;
	width: 100%;
	background-color: #ffffff;
}

.top-nav-left-container {
	height: 80px;

}

.top-nav-center-container {
	height: 80px;
 
}

.top-nav-right-container {
	height: 80px;
 
}

#grey-fade {
	background: linear-gradient(#cccccc,#ffffff);
	height: 10px;
}

.subnav {
	/*height: 115px; */
  padding-top: 90px;
}

.login-sign-up-links {
	padding: 26px 0px 26px 16px;
}

.login-sign-up-links a {
	font-style: italic;
}

.nav-list {
	list-style: none;
    padding: 0;
}

.contact-nav-container {
	float: right;
	margin-right: 50px;
}

.contact-nav-links {
	margin-top: 17px;
	background: transparent;
}

.contact-nav > li {
	text-align: center;
	padding: 0;
	margin-right: 30px;
	font-family: ProximaNovaSemibold;
	float: left;
	position: relative;
	display: block;
}

.contact-nav > li a {
	background: transparent;
	vertical-align: middle;
	display: table-cell;
	height: 50px;	
	text-decoration: none;
}

.red-text {
color: #e44949 !important;
}

.blue-text {
color: #1b3089 !important;
}

.green-text {
color: #1ba5bd !important;
}

p {
  font-family: Georgia;
  font-size: 1em;
  color: #676767;
}

.subnav {
	 
	background: #fff;
	height: 125px;
	width: 100%;	
}

.subnav ul {
	margin-bottom: 30px;
	display: inline-block;
}

.subnav li {
	padding-left: 0;
	padding-right: 61px;
	letter-spacing: .1em;	
	float: left;
	position: relative;
	display: block;

}

.subnav li a {
	text-transform: uppercase;
	font-family: ProximaNovaSemibold !important;
	font-size: 1.03em;
	color: #1ba5bd !important;
	line-height: 20px;
	text-decoration: none;
}

.subnav-container {
	max-width: 1128px;
	padding-top: 35px;	
}

.navbar-search-container {
	display: inline-block;
}

.navbar-form {
	border-color: #e6e6e6;
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	box-shadow: none;
	padding: 10px 15px;
	margin-top: 8px;	
	margin-bottom: 8px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	float: right;
	display: block;
}

.navbar-search{
	display: inline-block;
}
.navbar-search input {
	display: inline-block;
    border-radius: 20px;
    width: 197px;
    text-indent: 19px;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search-submit {
	margin: 0 -31px 0 -3px;
	border: none;
	background: transparent;
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

.help-home-top-section {

	width: 100%;
	border: 1px solid rgba(0,0,0,0.0);
	/*height: 811px;*/
}

.help-home-bottom-section {
	width: 100%;
	height: 811px;
}

/************ Main Search Container *********************/

.search-container {
	/* margin-top: 159px; */
	margin-top: 150px;
	background-color: transparent;
	text-align: center;
}

.search-div {
	width: 100%;
    max-width: 700px;
//	margin: 0 8%;
    margin: auto;
}

.help-header-title {
	padding-bottom: 43px;
	font-family: ProximaNovaLight;

}

h1 {
	font-size: 3.75em;
	color: $headline-color;
	font-weight: 500;
	line-height: 1.1;
	margin: 0.67em 0;
}

h2 {
  font-family: ProximaNovaLight;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.help-search {
	height: 67px;
	border-radius: 34px;
	text-align: center;
	font-size: 1.6em;
	background-color: #fff;
	position: relative;
	z-index: 99;
	font-family: ProximaNovaRegular;
    &:focus {
      outline: none;
    }
    margin: 0 auto;
}

.help-search-icon {
  background: url('/assets/search-icon.png');
  background-position-x: 28%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: #FFF;
}

.header-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  @include box-shadow(0, 4px, 3px, 0, rgba(0, 0, 0, 0.1));
}

.no-outline {
  outline: none;
}

.popular-questions {
  font-family: ProximaNovaLight;
  max-width: 1128;
//  margin: 0 5% 0 5%;
  @include box-shadow (0, 0, 2px, 2px, rgba(0, 0, 0, 0.1));
  background-color: #fff;
  min-height: 100px;
  text-align:  center;
  margin: 2em 8%;
  padding: 2em;
}

.ben-link {
  font-style: italic;
  font-size: 120%;
}

.torch {
  padding: 0px 20px 0px 20px;
  vertical-align: middle;
}

.popular-question-inner {
  border-top: 3px solid;
  margin: 1em 3em;
  p {
    margin: 0 2.5em 0 2.5em;
  }
  h2 {
    font-size: 2em;
  }
}

.cit-pop {
  border-color: $citizen-color;
  h2 {
    color: $citizen-color;
  }
  h5 {
    color: $citizen-color;
    font-family: ProximaNovaRegular;
  }
}

.res-pop {
  border-color: $residence-color;
  h2 {
    color: $residence-color;
  }
  h5 {
    color: $residence-color;
    font-family: ProximaNovaLight;
  }
}

.nonim-pop {
  border-color: $nonimmigrant-color;
  h2 {
    color: $nonimmigrant-color;
  }
  h5 {
    color: $nonimmigrant-color;
    font-family: ProximaNovaRegular;
  }
}

/** quickanswer view page **/
.search-again {
  padding-top: 7em;
  background-image: url('/assets/helpcenter-answer-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 15em;
  width: 100%;
}

.research-field {
  max-width: 700px;
  width: 80%;
}

.header h1 {
  color: $headline-color;
  font-family: ProximaNovaLight;
  font-size: 3em;
}

.row {
  max-width: 960px;
  background: #fff;
  @include box-shadow(0, 0, 10px, 5px, rgba(0,0,0,0.1));
  margin: -3em auto 0 auto;
  padding: 3em 5em;
}

.content-text {
  font-size: 1.2em;
  line-height: 2em;
  color: $text-color;
  p {
    margin-top: 1em;
  }
}
.breaker {
  height: 5em;
}

/** sizing stuff **/
@media (max-width: 900) {
  .popular-question-inner p {
    margin: 1em 1em;
  }
}


#footer {
  background: #1d3387;
  display: block;
  width: 100%;

  font-family: ProximaNovaRegular;
  color: white;
  font-size: 1.1em;

  .footer-nav {
    margin: 10px;
    float: left;  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    li {
      padding: 2px 12px;
      display: inline;
    }
  }
  a {
    color: white;
    &:link {
      color: white;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-seal {
    float: right;
  }
  .homelink {
    font-size: 1.3em;
    font-family: ProximaNovaSemibold;
  }

  .legal-nav {
    font-size: .8em;
    margin-top: .8em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}