<div class="official-row left-margin right-margin">
  <div class="flag-div">

    <small>Answers</small>
  </div>    
</div>



<div class="top-nav-container pure-g">
  <div class="pure-u-10-24 top-nav-left-container left-margin">

    <div class="pure-u-8-24">

    </div>

  </div>

  <div class="pure-u-4-24 top-nav-center-container logo-col">
    <%= link_to "Home", root_url %>
  </div>

  </div>
</div>